.map{
    font-size: 20px;
    color:rgb(34, 115, 186);
}
.adopt{
    font-size: 20px;
    font-weight:bold;
    color: aliceblue;
    background-color: #f39700;
    border: white 2px solid;
    border-radius: 30px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
.adopt_word1{
    -webkit-text-stroke: 1px white;
    color: #666666;
    font-size: 45px;
}
.adopt_word2{
    -webkit-text-stroke: 1px white;
    color: #666666;
    font-size: 30px;
}
.adopt_margin{
    margin-top: 130px;
    margin-left: 100px;
}
.img_map{
    position: relative;
    top: -300px;
    right: 30px;
}
.downblock{
    position: relative;
    bottom: -737px;
}
