.photo{
    margin-left: 20px;
}
.word_margin{
    margin-top: 10px;
    margin-right: 700px;
    font-size: 20px;    
}
.word_margin2{
    margin-top: 20px;
    font-size: 20px;    
}
.word_margin_top{
    margin-top: 20px;
}
.button_margin{
    margin-top: 20px;
    width: 250px;
    height: 40px;
    font-size: 25px;
    color: aliceblue;
    background-color: rgb(39, 204, 39);
    border: 1px rgb(39, 204, 39) solid;
    border-radius: 40px;
}
.h1_word{
    font-size: 40px;
}
.span_word{
    font-size: 20px;
}
.input{
    height: 100px;
    font-size: 30px;
    border: 1px white solid;
    border-bottom: 1px gray solid;
}
.addition{
    font-size: 20px;
    margin-top: 40px;
    margin-left: 100px;
}

span {
    position: relative;
}
.yes input[type="checkbox"]{
    margin-left: 200px;
}
.yes1 input[type="checkbox"]{
    margin-left: 480px;
}
.yes2 input[type="checkbox"]{
    margin-left: 450px;
}
.yes3 input[type="checkbox"]{
    margin-left: 360px;
}
.yes4 input[type="checkbox"]{
    margin-left: 196px;
}
.yes5 input[type="checkbox"]{
    margin-left: 187px;
}
.yes6 input[type="checkbox"]{
    margin-left: 369px;
}
.yes7 input[type="checkbox"]{
    margin-left: 565px;
}
.yes8 input[type="checkbox"]{
    margin-left: 415px;
}
.yes9 input[type="checkbox"]{
    margin-left: 260px;
}
.yes10 input[type="checkbox"]{
    margin-left: 365px;
}